/static_compiled
/gunicorn-config.py

/Dockerfile
/docker/Dockerfile*

.git
**/__pycache__
*.pyc
*.swp
/venv/
/media/
/tmp/
coverage
.Python
env/
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
node_modules/