{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container">
        <div class="col-md-8">
            <h1>Profile</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">First Name</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
            <p><a href="/choose-your-own-device/order-history">Order History</a></p>
            <p><a href="/user/edit">Edit Profile</a></p>
            <p><a href="/user/password_change/">Change Password</a></p>
        </div>
    </div>
    {% endif %}
{% endblock %}